//
//  Dev.xcconfig
//  DiamondXE
//
//  Created by iOS Developer on 17/04/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// https://app-uat.diamondxe.com/

Root_URL = app-uat.diamondxe.com/

// for payment getway
Marchant_ID = DIAMONDUAT
Salt_KEY = 1c560f14-86f2-4317-86bf-658f92554b58
