//
//  Production.xcconfig
//  DiamondXE
//
//  Created by iOS Developer on 17/04/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


Root_URL = app.diamondxe.com/


// for payment getway
marchant_ID = DIAMONDXEONLINE
salt_Key = b74e2a4c-7d13-43c5-a115-c0372ed85dbd
